body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffcccc;
    margin: 0;
    padding: 0;
}

#clicker {
    margin-top: 50px;
    text-align: center;
}

#click-avatar {
    width: 100px;
    cursor: pointer;
}

#menu {
    margin-top: 20px;
}

#menu img {
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}

.menu-interface {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
}

#shop, #exchange {
    position: absolute;
    top: 100px;
    right: 50px;
}

.icon {
    width: 20px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    #shop, #exchange {
        top: auto;
        bottom: 50px;
    }
}

#autoclicker-toggle {
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
}

#shop button {
    display: block;
    margin: 10px 0;
}
